/Friends.class
/FriendsClass.class
/Iterator.class
/IteratorClass.class
/Post.class
/PostClass.class
/SocialNetwork.class
/SocialNetworkClass.class
/User.class
/UserClass.class
/Wall.class
/WallClass.class
/UserIteratorClass.class
/UserIterator.class
/FriendsIterator.class
/FriendsIteratorClass.class
/FriendsArrayClass.class
/FriendsArray.class
/WallIterator.class
/WallIteratorClass.class
